
.card {
  max-width: 400px;
  margin: 40px auto;
  background: lightsteelblue;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.descripcion {
  margin-bottom: 15px;
}

.contacto {
  margin-bottom: 20px;
  font-weight: bold;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* --- */

.link-card {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  background: lightgray;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}
/* 
.link-card:hover {
  background: #0056b3;
} */

.card ul {
  text-align: left;
  margin-top: 10px;
}

.card li {
  margin-bottom: 8px;
}


